.demopress-group-cleanup p:last-of-type {
  border-bottom: 1px solid #DDD;
  padding-bottom: 10px;
}

.d4p-generators-list .d4p-options-panel {
  width: calc(50% - 15px);
}
.d4p-generators-list .d4p-options-panel i {
  margin-right: 0;
}
.d4p-generators-list .d4p-options-panel h5 {
  margin-left: 100px;
}
.d4p-generators-list .d4p-options-panel div {
  text-align: left;
  margin-left: 100px;
}
.d4p-generators-list .d4p-options-panel div em {
  display: block;
  margin-bottom: 10px;
  line-height: 20px;
  min-height: 40px;
}

.d4p-generator-control .d4p-group .demopress-is-hidden {
  display: none;
}
.d4p-generator-control .d4p-group.demopress-type-settings-hidden .d4p-settings-section:first-child {
  margin: 0;
}
.d4p-generator-control .d4p-group.demopress-type-settings-hidden .d4p-settings-section:not(:first-child) {
  display: none;
}
.d4p-generator-control .d4p-group .d4p-settings-section.demopress-type-section-hidden table tr:not(:first-child) {
  display: none;
}

.d4p-generator-status .demopress-generator-panel {
  max-width: 800px;
  width: 100%;
}
.d4p-generator-status .demopress-generator-panel .demopress-gen-loader {
  visibility: hidden;
}
.d4p-generator-status .demopress-generator-panel .demopress-gen-header {
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: 2px solid #888;
}
.d4p-generator-status .demopress-generator-panel .demopress-gen-status {
  margin: 5px 0 15px 0;
  padding: 0 0 15px;
  border-bottom: 2px solid #888;
}
.d4p-generator-status .demopress-generator-panel .demopress-gen-status pre {
  max-height: 300px;
  overflow: auto;
  margin: 0;
}

@media screen and (max-width: 1080px) {
  .d4p-generators-list .d4p-options-panel {
    width: 100%;
    margin-right: 0;
  }
}
