[submodule "library"]
	path = library
	url = https://github.com/dev4press/library.git
[submodule "vendor/random-names-generator"]
	path = vendor/random-names-generator
	url = https://github.com/dev4press/random-names-generator
[submodule "vendor/placeholder-image-generator"]
	path = vendor/placeholder-image-generator
	url = https://github.com/dev4press/placeholder-image-generator.git
[submodule "vendor/random-titles-generator"]
	path = vendor/random-titles-generator
	url = https://github.com/dev4press/random-titles-generator.git
